body{
    margin: 0;
    padding: 0;
   background: #efefef;
   font-size: 16px;
   font-family: sans-serif;
   color: #777;
   font-weight: 300;
}

#login{
    position: relative;
    background: #fff;
    margin: 5% auto;
    height: 400px;
    width: 600px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6)
}
.left-login{
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 400px;
    padding: 40px;
    box-sizing: border-box;
}
h1{
    margin: 0 0 20px 0;
    font-weight: 300;
    font-size: 28px;
}
input[type="text"],
input[type="email"],
input[type="password"]
{
    display: block;
    box-sizing: border-box;
    border: none;
    outline: none;
    padding: 4px;
    margin-bottom: 20px;
    width: 220px;
    height: 32px;
    border-bottom: 1px solid #aaa;
    font-size: 15px;
    font-weight: 400;
    font-family: sans-serif;
    transition: 0.2s ease;

}
input[type="submit"]
{
    margin-bottom: 28px;
    width: 120px;
    height: 32px;
    background: #f44336;
    border: none;
    border-radius: 2px;
    color: #fff;
    font-weight: 500;
    font-family: sans-serif;
    text-transform: uppercase;
    transition: 0.2s ease;
    cursor: pointer;

}
input[type="submit"]:hover,
input[type="submit"]:focus
{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.603);
    background: #ff5722;
    transition: 0.2s ease;
}

.rhait-login{
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 400px;
    background-image: url(images/images.jpg);
    background-size: cover;
    background-position: center;
}
.or{
    position: absolute;
    top: 180px;
    left: 280px;
    width: 40px;
    height: 40px;
    background: #efefef;
    color: #dd4b39;
    font-weight: bold;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    line-height: 40px;
    text-align: center;
    
}
.rhait-login .signupwith{
   display: block;
    margin-bottom: 40px;
    font-size: 28px;
    color: #fff;
    text-align: center;
    text-shadow:0 2px 4px rgba(0, 0, 0, 0.6); ;

}
button{
    margin-bottom: 20px;
    width: 220px;
    height: 36px;
    border: none;
    border-radius: 2px;
    color: #fff;
    font-weight: 500;
    font-family: sans-serif;
    transition: 0.2s ease;
    cursor: pointer;
}
.face{
    background: #32508e;
}
.twit{
    background: #55acee;
}
.googel{
    background: #dd4b39;
}
.face:hover,
.twit:hover,
.googel:hover
{

    box-shadow: 0 2px 4px rgba(9, 194, 240, 0.76);
    transition: 0.2s ease;
}

